<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<section class="mylist_products_list_container">
		<div class="mylist_logo">
			PRODUCT
		</div>
		<% if @products %>
		<ul class="mylist_products" align="center">
			<% @products.each do |p| %>
			<% if p.name == "" %>
				<li class="mylist_product">
					<div id = "t1" style="height: 436px; width: 291px">
						<div id ="t2" >
							<td><%= link_to image_tag('registering.jpg', class: "mylist_product_img", height: '436px'), p.url , :target => "_blank" %></td>
						</div>
					</div> 				
					<br>
					<ul class="mylist_product_info">
						<li>
							<span class="mylist_product_name", text-align: "center">
								<%= p.name %>
							</span>
						</li><br>
						<li>
							<span class="mylist_product_price", text-align: "center">
								<%= number_with_delimiter(p.price, :delimiter => ',') %> ￦
							</span>
						</li>
					</ul>
				</li>
				<% else %>
				<li class="mylist_product">
					<div id = "t1" style="height: 436px; width: 291px">
						<div id ="t2" >
							<!-- <td><%= link_to image_tag(p.avatar(:width), class: "mylist_product_img"), p.url , :target => "_blank" %></td> -->
							<td><%= link_to image_tag(p.img, class: "mylist_product_img"), p.url , :target => "_blank" %></td>
						</div>
					</div> 				
					<br>
					<ul class="mylist_product_info">
						<li>
							<span class="mylist_product_name", text-align: "center">
								<%= p.name %>
							</span>
						</li><br>
						<li>
							<span class="mylist_product_price", text-align: "center">
								<%= number_with_delimiter(p.price, :delimiter => ',') %> ￦
							</span>
						</li>
					</ul>
				</li>
				<% end %>
			<% end %>
		</ul>
		<% else %>
		"리스트를 추가해주세요."
		<% end %>
	</section>
</body>
</html>
<script>
$(document).ready(function(){
	<% if @products.count%4 == 1 %>
		$('.mylist_products').append('<li class="mylist_product"></li>');
		$('.mylist_products').append('<li class="mylist_product"></li>');
		$('.mylist_products').append('<li class="mylist_product"></li>');
	<% elsif @products.count%4 == 2%>
		$('.mylist_products').append('<li class="mylist_product"></li>');
		$('.mylist_products').append('<li class="mylist_product"></li>');
	<%elsif @products.count%4 == 3%>
		$('.mylist_products').append('<li class="mylist_product"></li>');
	<% end %>
});
</script>