<!DOCTYPE html>
<html>
<head>

	<title></title>
</head>

<script type="text/javascript" 
src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
</script>



<script type="text/javascript">
	$(document).ready(function()
	{
	//bit_url function
	function bit_url(url)
	{ 
		var url=url;
		var username="limjungmok"; // bit.ly username
		var key="R_249fbb5a23da46259abafefc07de6d0e";
		$.ajax({
			url:"http://api.bit.ly/v3/shorten",
			data:{longUrl:url,apiKey:key,login:username},
			dataType:"jsonp",
			success:function(v){
				var bit_url=v.data.url;
				submit_url(bit_url);
			}
		});
	}
	//URL 축소된 url을 전송하는 함수
	function submit_url(url){
		var shorten_url = url;
		console.log("shorten url : ", shorten_url);
		$.ajax({
			url:"/users/<%=current_user.id%>/products",
			type:'POST',
			data:{'url':url},
			success:function(v){
				$('#home_url_list').append("<div class='user_url_list' id=url_list><a href ="+url+" target=_blank>"+url+"</a> <a id='delete_product' disabled></a></div>");
				document.getElementById("short").disabled = false;


				$.refresh();
				//document.getElementById("short").value = "제출";

			}
		});
	}

	//Submit 버튼 클릭시
	$("#short").click(function()
	{
		var url=$("#url").val();
		var urlRegex = /(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig;
		var urltest=urlRegex.test(url);
		console.log("url : ", url);
		if(urltest){
			document.getElementById("short").disabled = true;
			//document.getElementById("short").value = "제출중";
			//URL 을 축소시킨다. 
			bit_url(url);
		}
		else{
			alert("Bad URL");
		}
	});

	//URL 엔터키 먹였을때.
	$("#url").bind("enterKey", function(e){
		var url=$("#url").val();
		var urlRegex = /(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig;
		var urltest=urlRegex.test(url);
		console.log("url : ", url);
		if(urltest){
			document.getElementById("short").disabled = true;
			//document.getElementById("short").value = "제출중";
			//URL 을 축소시킨다. 
			bit_url(url);
		}
		else{
			alert("Bad URL");
		}
	});
	$("#url").keyup(function(e){
		if(e.keyCode == 13){
			$(this).trigger("enterKey");
		}
	})

});

</script>

<body>
	<div class="form-inline" align="center">
		<div id="home_url_form">
			<div id="home_url_input" align="center" class="form-group">
				<input type="text" name="url" id="url" class="form-control" placeholder="URL 을 입력하세요" />
				<button type="submit" id="short" class="btn btn-default" />
			</div>
			
			<div id="home_url_list" align="left">
				<% current_user.products.order("created_at DESC").each do |p| %>
				<% if p.name == "" %>
				<div class="user_url_list" id="url_list<%=p.id%>">
					<a href="<%=p.url%>" id="url_list" target="_blank"><%=p.url%></a>
					<!--
					<%=link_to '삭제', user_product_path(:user_id => current_user.id, :id =>p.id), method: :delete, id: "delete_product", remote: true %>
				-->
				<% end %>
			</div>
			<% end %>
		</div> 
	</div>
</div>
</body>

</html>

<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-73008078-1', 'auto');
	ga('send', 'pageview');
</script>