<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>

<script type="text/javascript"
        src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){

  //전체 뷰, 박스, url창 리사이징 준비
  $(window).resize(function() {
    var w = window.innerWidth;//화면 가로
    var h = window.innerHeight;//화면세로

    //$("#div_main").width(w);
    $("#div_main").height(h);
    //$("#div_product").width(w);
    $('#div_main_box').css({'height': (h/1.8)});
    $('#url').css({'width': (w/3)});

  }).resize();

  //상품 리스트의 리사이징
  $(function(){
    var main = $('#div_product_lists'),
      centerized = main.find('.div_product_lists_centerized'),
      itemWidth = main.find('.div_product_item').outerWidth(true);

    $(window).resize(function(){
      var fitItems = (main.width() / itemWidth) | 0;
      centerized.width(fitItems * itemWidth);
    }).trigger('resize');
  });

  $(document).ready(function($) {
    $('a[href^="#"]').bind('click.smoothscroll', function(e) {
      e.preventDefault();
      
      // Get the current target hash
      var target = this.hash;
      
      // Animate the scroll bar action so its smooth instead of a hard jump
      $('html, body').stop().animate({
          'scrollTop' : $(target).offset().top
      }, 400, 'swing', function() {
          window.location.hash = target;
      });
    });
  });
  
  //헤더부분 
  function refresh(){
    $.ajax({ 
      type: 'GET',
      url: '/get_product_count',
      success: function(data,status,xhr){
        console.log(data);
        $('#header_product_count').html(data.message);
        $('#div_product_info_total').html('<div id="div_product_info_total_text">총</div>' + ' ');

        $('#div_product_info_total').append('<div class="circle" id="div_product_info_total">'+ data.message +'</div>');

        $('#div_product_info_total').append(' '+'<div id="div_product_info_total_text">개 상품이 등록되어 있습니다</div>');
      },
      error: function(xhr,status,error){
        console.log(xhr);
        alert(error);
      }
    });
  }

  //이메일 전송
  function send_e(){
    $.ajax({
      type: 'GET',
      url: '/send_email',
      success: function(data,status,xhr){
      },
      error: function(xhr,status,error){
      }
    });
  }

  function resize_(){
    var main = $('#div_product_lists'),
      centerized = main.find('.div_product_lists_centerized'),
      itemWidth = main.find('.div_product_item').outerWidth(true);

      var fitItems = (main.width() / itemWidth) | 0;
      centerized.width(fitItems * itemWidth);
  }

  //URL 축소된 url을 전송하는 함수
  function submit_url(url){
    $.ajax({
        url:"/users/<%=current_user.id%>/products",
        type:'POST',
        data:{'url':url},
        success:function(v){
        	document.getElementById("submit").disabled = false;
            analyze(url);
            sweetAlert ({
              title: "상품이 등록되었습니다.",
              text: "해당 상품으로 이동하시겠습니까?",
              type: "success",
              showCancelButton: true,
              cancelButtonText: "다음에 확인",
              confirmButtonColor: "#cd2026",
              confirmButtonText: "바로 확인"     
            },

            function() {
              $('html, body').animate({scrollTop:$(document).height()}, 'slow');
              return false;
            });

            resize_();
            refresh();            
        }
    });
  }

  //URL 을 파싱한 뒤
  function parsing_url(){
    var url=$("#url").val();
    var urlRegex = /(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig;
    var urltest=urlRegex.test(url);

    if(urltest){
        //제출이 끝난 후
        //URL 을 축소시킨다.
        submit_url(url);

    }else{
        alert("Bad URL");
    }
  }

  function analyze(_url){
    $.ajax({
    type: 'GET',
    crossDomain: true,
    dataType: 'json',
    url: '/findParsingAction.json?url=' + encodeURIComponent(_url),
    success: function(data,status,xhr){
          if(data.message == "success"){
            var product_title = data.title;
            var product_img = data.img;
            var product_price = data.price;
            var product_url = data.url;
            $.ajax({
              url:"/get_product_last_product",
              type:"GET",
              success:function(data) {
                 var product_id = data.id;
                 var product_create_at = data.created_at;

                 $.ajax({
          url:"/users/<%=@user.id%>/products/" + product_id,
          type:"PUT",
          data:{'name':product_title , 'price':product_price, 'url':product_url, 'img':product_img},
          success:function(v) {
            location.reload();
          },
      });
                $('#ex').append(' <div class="div_product_item item'+product_id+'"><div id="div_product_item_image"><img class="image_aspect_ratio" src='+product_img+'></div><div id="div_product_item_hover_icon"><a id="div_product_item_hover_icon_edit" href="#" class="div_product_item_hover_icon_edit '+product_id+'"><i class="glyphicon glyphicon-pencil"> </i> </a><a id="div_product_item_hover_icon_delete" href="#" class="div_product_item_hover_icon_delete '+product_id+'"><i class="glyphicon glyphicon-trash"> </i></a></div><div id="div_product_item_info" class="div_product_item_info"><div class = "div_text name'+product_id+'" id="div_product_item_info_name" style="width : 100px">'+product_title+'</div><br><div class = "div_text edit'+product_id+'" id="div_product_item_edit_name"><input type="text" name='+product_title+' id="edit_name" class="form-control" value='+product_title+'><button type="submit" id="edit_submit" class="btn btn-default" onclick="edit('+product_id+');">수정</button></div><div class = "div_text" id="div_product_item_info_price">'+ product_price+' ￦</div><br><div class = "div_text" id="div_product_item_info_date">'+product_create_at+'</div></div></div>')
              }
            });

          }
          else{
            send_e();
            $('#ex').append('<div class="div_product_item"><div id="div_prodcut_item_image">'+'<%= link_to image_tag("loading.gif", class: "image_aspect_ratio"), "#", :target => "_blank" %></div><div id="div_product_item_info">'+'<div class = "div_text" id="div_product_item_info_name">상품 분석중</div><br><div class = "div_text" id="div_product_item_info_price">'+'<%= number_with_delimiter("0", :delimiter => ",") %>'+' ￦</div></div></div>');
          }
      } 
        
      });
    }

  //Submit 버튼 클릭시
  $("#submit").click(function(){
    document.getElementById("submit").value = "상품 분석중";
    document.getElementById("submit").disabled = true;
    parsing_url();
    $("#url").val('');
  });

  //URL 엔터키 먹였을때.
  $("#url").keydown(function(e){
    if(e.keyCode == 13){
      document.getElementById("submit").value = "상품 분석중";
	    document.getElementById("submit").disabled = true;
      parsing_url();
      $("#url").val('');
    }else{
    }
  });

  //가격순으로 보기
  $("#sort_by_id").click(function(){
    $('.div_product_lists_centerized').html('<%= escape_javascript(render "sort.html.erb") %>');
  });

	var targetHeight = $('#header').outerHeight();

  //헤더 스크롤 변경시 동적변경
	$(document).scroll(function() {
    var w = window.innerWidth;//화면 가로
    var h = window.innerHeight;//화면세로

		var scrollPercent = (targetHeight - window.scrollY) / targetHeight;

	    if ($(this).scrollTop() > (h-50)){
	    	$('#header').css({'background-color':'rgba(0, 0, 0, 0.5)'});
        $('#top').css({'visibility':'visible'});
	    }else{
	    	$('#header').css({'background-color':'transparent'});
        $('#top').css({'visibility':'hidden'});
	    }
  	});
  });

  $(function(){
    var main = $('#div_product_lists'),
        centerized = main.find('.div_product_lists_centerized'),
        itemWidth = main.find('.div_product_item').outerWidth(true);

    $(window).resize(function(){
        var fitItems = (main.width() / itemWidth) | 0;
        centerized.width(fitItems * itemWidth);
    }).trigger('resize');
  });

  // 수정버튼 클릭 시
  $(document).ready(function() {
    $(".div_product_item_hover_icon_edit").click(function() {
          
      $('.div_product_item').addClass("no-hover");

      var id = [];
      id = $(this).attr('class').split(" ");
      var a = id[1];

      $(".div_product_item_info").find('.name' + a).hide();
      $(".div_product_item_info").find('.edit' + a).show();
    });
  });

  // 등록된 제품명 수정
  function edit(id) {

    var item = $(".div_product_item_info").find('.edit' + id);
    var edit_name = $(item).children().val();

    if(edit_name.length < 17) {
      var edit_slice_name = $(item).children().val();
      $(".div_product_item_info").find('.name' + id).html(edit_slice_name);
    }
    else {
      var edit_slice_name = $(item).children().val().substr(0, 17);
      $(".div_product_item_info").find('.name' + id).html(edit_slice_name + "...");
    }

    $(".div_product_item_info").find('.name' + id).show();
    $(".div_product_item_info").find('.edit' + id).hide();
    $('.div_product_item').removeClass('no-hover');

    $.ajax({
        url:"/users/<%=@user.id%>/products/" + id,
        type:"PATCH",
        data:{'name':edit_name},
        success:function(v) {}
    });
  }

  // 등록된 제품 삭제
  $(document).ready(function() {
    function refresh(){
    
    $.ajax({ 
      type: 'GET',
      url: '/get_product_count',
      success: function(data,status,xhr){
        console.log(data);
        $('#header_product_count').html(data.message);
        $('#div_product_info_total').html('<div id="div_product_info_total_text">총</div>' + ' ');

        $('#div_product_info_total').append('<div class="circle" id="div_product_info_total">'+ data.message +'</div>');

        $('#div_product_info_total').append(' '+'<div id="div_product_info_total_text">개 상품이 등록되어 있습니다</div>');
      },
      error: function(xhr,status,error){
        console.log(xhr);
        alert(error);
      }
    });
  }
  
  $(".div_product_item_hover_icon_delete").click(function() {

    var id = [];
    id = $(this).attr('class').split(" ");
    var a = id[1];

    sweetAlert ({
        title: "정말 삭제하시겠습니까?",
        type: "warning",
        customClass: a,
        confirmButtonColor: "#cd2026",
        confirmButtonText: "예, 삭제하겠습니다",
        showCancelButton: true,
        cancelButtonText: "아니오, 삭제하지 않습니다",          
        closeOnConfirm: false,
        closeOnCancel: false
    },

    function(isConfirm) {

      var id = $(this).attr('customClass');

        if(isConfirm) {

            $(".div_product_lists_centerized").find('.item' + id).remove();

            sweetAlert({
                title: "삭제되었습니다.",
                type: "success",
                timer: 1200,
                showConfirmButton: false
            });

            $.ajax({
                url:"/users/<%=@user.id%>/products/" + id,
                type:"DELETE",
                success:function(v) {
                    refresh();
                }

            });
        }
        else {
            sweetAlert({
                title: "삭제되지 않았습니다.",
                type: "error",
                timer: 1200,
                showConfirmButton: false
            });
        }
      });
    });
  });

</script>

<body>

    <div id="div_total">

        <div id="div_main">
            <div id="div_main_box" style="width: 55%">
                <div id="div_main_frame">
                  <!--맨 위 타이틀-->
                  <div id="div_main_title" align="center">
                    Shop-in
                  </div>

                  <!--타이틀 서브 텍스트-->
                  <div id="div_main_title_sub" align="center">
                        여러 상품을 한 곳에 담다
                  </div>
                  
                  <!--메인 URL 입력 폼-->
                  <div id="div_main_url_form" class="form-inline" align="center">
                    <div id="div_main_url_input" align="center" class="form-group">
                      <input type="text" name="url" id="url" placeholder=" URL 을 입력하세요." class="form-control" />
                      <button type="submit" id="submit" class="btn btn-default">상품 담기</button>
                    </div>
                  </div>

                  <div id="div_main_help">

                    <a href="https://chrome.google.com/webstore/detail/shop-in/inkgpdfkjhckpjhimallbplbnjhdnmdd?hl=ko" target="_blank">
                    <div id ="div_main_help_extend" style="float:left">
                      확장프로그램
                    </div>  
                    </a>

                    <!--맨 아래 SHOP IN 이용방법-->
                    <a data-toggle="modal" href="#div_main_useage_modal">
                    <div id ="div_main_help_guide" style="float:right">
                      SHOP IN 이용방법
                    </div>
                    </a>
                  </div>

                </div>
            </div>
        </div>

        <div class="modal fade" id="div_main_useage_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                  <%= image_tag('guide.png', id: "div_main_useage_modal_img") %>
              </div>
            </div>
          </div>
        </div>

        <div id="div_product">
           <div id="div_product_title">
               Product
           </div>

           <div id="div_product_info">
               <div id="div_product_info_total">
                   <div id="div_product_info_total_text">총</div>
                   <div class="circle" id="div_product_info_total"><%= current_user.products.count %></div>
                   <div id="div_product_info_total_text">개 상품이 등록되어 있습니다</div>
               </div>

               <% if logged_in? %>

               <div id="div_product_lists">
                   <div class="div_product_lists_centerized" id="ex">
                       <% @products.each do |p| %>

                           <% if p.name == "" %>

                               <div class="div_product_item">
                                    <div id="div_product_item_image">
                                       <%= link_to image_tag('loading.gif', class: "image_aspect_ratio"), p.url , :target => "_blank" %>
                                   </div>
                                   <div id="div_product_item_info">
                                      <div class = "div_text" id="div_product_item_info_name">상품 분석중</div><br>
                                      <div class = "div_text" id="div_product_item_info_price"><%= number_with_delimiter(p.price, :delimiter => ',') %> ￦</div>
                                   </div>
                               </div>

                            <% else %>


                                <div class="div_product_item item<%= p.id %>">
                                   <div id="div_product_item_image">
                                       <%= link_to image_tag(p.img, class: "image_aspect_ratio"), p.url, :target => "_blank" %>
                                   </div>

                                   <div id="div_product_item_hover_icon">

                                        <a id="div_product_item_hover_icon_edit" href="#" class="div_product_item_hover_icon_edit <%= p.id %>">
                                        <i class="glyphicon glyphicon-pencil"> </i> </a>

                                        <a id="div_product_item_hover_icon_delete" href="#" class="div_product_item_hover_icon_delete <%= p.id %>">
                                          <i class="glyphicon glyphicon-trash"> </i></a>
                                    </div>

                                   <div id="div_product_item_info" class="div_product_item_info">
                                       <p><div class = "div_text name<%= p.id %>" id="div_product_item_info_name"><%= truncate(p.name, length: 20) %></div></p>
                                       <div class = "div_text edit<%= p.id %>" id="div_product_item_edit_name">
                                        <input type="text" name="name" id="edit_name" class="form-control" value="<%= p.name %>">
                                        <button type="submit" id="edit_submit" class="btn btn-default" onclick="edit(<%= p.id %>);">수정</button>
                                       </div>
                                       <div class = "div_text" id="div_product_item_info_price"><%= number_with_delimiter(p.price, :delimiter => ',') %> ￦</div><br>
                                       <div class = "div_text" id="div_product_item_info_date"><%= p.created_at.strftime("%Y-%m-%d") %></div>
                                   </div>
                               </div>

                            <% end %>

                       <% end %>
                   </div>
               </div>

               <% end %>

           </div>
           <div id="div_product_footer">

           </div>
           <div>
             <%=link_to (image_tag("up.png", :width => "70px", :height => "70px")), '#div_main', id:"top"%>
           </div>
       </div>
    </div>
    
    <div id="footer">
      <br>
      <p style="font-size:20px ;font-weight: bold; font-family: 'Noto Sans Korean', sans-serif">Contact us</p>
      <hr id="footer_hr">
      Copyright © 2016 by <a href="https://www.facebook.com/openyearround/?fref=ts" target='_blank' id="footer_url">OpenYearRound</a>. Inc.
      <p><br>
    </div>
</body>
</html>