<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>

<script type="text/javascript"
        src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){

	var w = window.innerWidth;
	var h = window.innerHeight;

  $('#div_main').css({'height': h});
  $('#div_main_box').css({'height': (h/1.6)});
  $('#url').css({'width': (w/4)});
  $('#div_main_flash').css({'top': (h/2.8), 'left': (w/4.5)});

  $(function(){
    var main = $('#div_product_lists'),
        centerized = main.find('.div_product_lists_centerized'),
        itemWidth = main.find('.div_product_item').outerWidth(true);

    $(window).resize(function(){
        var fitItems = (main.width() / itemWidth) | 0;
        centerized.width(fitItems * itemWidth);
    }).trigger('resize');
  });

  $(document).ready(function($) {
      $('a[href^="#"]').bind('click.smoothscroll', function(e) {
          e.preventDefault();
          
          // Get the current target hash
          var target = this.hash;
          
          // Animate the scroll bar action so its smooth instead of a hard jump
          $('html, body').stop().animate({
              'scrollTop' : $(target).offset().top
          }, 400, 'swing', function() {
              window.location.hash = target;
          });
      });
  });

    function refresh(){
     $.ajax({ 
       type: 'GET',
       url: '/get_product_count',
       success: function(data,status,xhr){
         console.log(data);
         $('#header_product_count').html(data.message);
         $('#div_product_info_total').html('<div id="div_product_info_total_text">총</div>' + ' ');

         $('#div_product_info_total').append('<div class="circle" id="div_product_info_total">'+ data.message +'</div>');

         $('#div_product_info_total').append(' '+'<div id="div_product_info_total_text">개 상품이 등록되어 있습니다</div>');
       },
       error: function(xhr,status,error){
         console.log(xhr);
         alert(error);
       }
     });
   }

   function send_e(){
    $.ajax({
       type: 'GET',
       url: '/send_email',
       success: function(data,status,xhr){
       },
       error: function(xhr,status,error){
       }
    });
    }

   function resize_(){

    var main = $('#div_product_lists'),
              centerized = main.find('.div_product_lists_centerized'),
              itemWidth = main.find('.div_product_item').outerWidth(true);

              var fitItems = (main.width() / itemWidth) | 0;
              centerized.width(fitItems * itemWidth);
          }

    //URL 축소된 url을 전송하는 함수
    function submit_url(url){
        $.ajax({
            url:"/users/<%=current_user.id%>/products",
            type:'POST',
            data:{'url':url},
            success:function(v){
            	document.getElementById("submit").disabled = false;
<<<<<<< HEAD
              $('#ex').append('<div class="div_product_item"><div id="div_prodcut_item_image">'+'<%= link_to image_tag("registering2.png", class: "image_aspect_ratio"), "#" , :target => "_blank" %></div><div id="div_product_item_info">'+'<div class = "div_text" id="div_product_item_info_name">분석 중입니다</div><br><div class = "div_text" id="div_product_item_info_price">'+'<%= number_with_delimiter("0", :delimiter => ",") %>'+' ￦</div></div></div>');
            
                $("#div_main_flash").show();
                $("#div_main_flash").fadeOut(3000);

=======
              $('#ex').append('<div class="div_product_item"><div id="div_prodcut_item_image">'+'<%= link_to image_tag("loading.gif", class: "image_aspect_ratio"), "#" , :target => "_blank" %></div><div id="div_product_item_info">'+'<div class = "div_text" id="div_product_item_info_name">분석 중입니다</div><br><div class = "div_text" id="div_product_item_info_price">'+'<%= number_with_delimiter("0", :delimiter => ",") %>'+' ￦</div></div></div>');
              
>>>>>>> 570a8567aa5f937200a9192dc43f435e66c567bb
                resize_();
                refresh();
                send_e();
            }
        });
    }

    //URL 을 파싱한 뒤
    function parsing_url(){
        var url=$("#url").val();
        var urlRegex = /(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig;
        var urltest=urlRegex.test(url);

        if(urltest){
            //제출이 끝난 후
            //URL 을 축소시킨다.
            submit_url(url);

        }else{
            alert("Bad URL");
        }
    }

    //Submit 버튼 클릭시
    $("#submit").click(function(){
        document.getElementById("submit").value = "상품 분석중";
        document.getElementById("submit").disabled = true;
        parsing_url();
        $("#url").val('');
    });

    //URL 엔터키 먹였을때.
    $("#url").keydown(function(e){
        if(e.keyCode == 13){
	        document.getElementById("submit").value = "상품 분석중";
   	      document.getElementById("submit").disabled = true;
	        parsing_url();
          $("#url").val('');
        }else{
        }
    });

  	var targetHeight = $('#header').outerHeight();

  	$(document).scroll(function() {
  		var scrollPercent = (targetHeight - window.scrollY) / targetHeight;
  		console.log(scrollPercent);

  	    if ($(this).scrollTop() > (h-50)){
  	    	$('#header').css({'background-color':'rgba(0, 0, 0, 0.5)'});	
  	    }else{
  	    	$('#header').css({'background-color':'transparent'});
  	    }
  	    

    	});
    });

    $(function(){
        var main = $('#div_product_lists'),
            centerized = main.find('.div_product_lists_centerized'),
            itemWidth = main.find('.div_product_item').outerWidth(true);

        $(window).resize(function(){
            var fitItems = (main.width() / itemWidth) | 0;
            centerized.width(fitItems * itemWidth);
        }).trigger('resize');
    });

     function toggle(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }

    function close(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
    }


</script>

<body>
    <div id="div_total">

        <div id="div_guide">
          <a href="#div_main" onclick="close('div_guide');" id="div_guide_close_btn">
          <span class="glyphicon glyphicon-remove"> </span>
          </a>

            <div id="div_guide_contents">
              <ul>
                <li>
                    <div id="div_guide_content_1">
                        <div id="div_guide_content_icon">
                            <%= image_tag('guide_1.png') %>
                        </div>
                        <div id="div_guide_content_title">
                            <h3> 상품 찾기 </h3>
                        </div>
                        <div id="div_guide_content_text">
                            <h5> 원하는 상품을 찾아주세요 </h5>
                        </div>
                    </div>
                </li>

                <li>
                  <div id="div_guide_content_2">
                    <div id="div_guide_content_icon">
                        <%= image_tag('guide_2.png') %>
                    </div>
                    <div id="div_guide_content_title">
                        <h3> 상품 담기 </h3>
                    </div>
                    <div id="div_guide_content_text">
                        <h5> 상품의 URL을 복사한 뒤, 입력해 주세요 </h5>
                    </div>
                  </div>
                </li>

                <li>
                  <div id="div_guide_content_3">
                    <div id="div_guide_content_icon">
                        <%= image_tag('guide_3.png') %>
                    </div>
                    <div id="div_guide_content_title">
                        <h3> 상품 보기 </h3>
                    </div>
                    <div id="div_guide_content_text">
                        분석된 상품을 한 눈에 비교하세요
                    </div>
                  </div>
                </li>
                <div id="div_guide_content_meant">
                    <h5> #Shop In의 이 놀라운 기능을 통해 좀 더 편리하고 현명한 쇼핑을 즐기세요. </h5>
                </div>
            </div>
        </div>


        <div id="div_main">
            <div id="div_main_box" style="width: 55%">
                <div id="div_main_frame">
                  <!--맨 위 타이틀-->
                  <div id="div_main_title" align="center">
                    환영합니다!
                  </div>

                  <!--타이틀 서브 텍스트-->
                  <div id="div_main_title_sub" align="center">
                        전 세계의 모든 상품을 분석 해 드립니다.
                  </div>
                  
                  <!--메인 URL 입력 폼-->
                  <div id="div_main_url_form" class="form-inline" align="center">
                    <div id="div_main_url_input" align="center" class="form-group">
                      <input type="text" name="url" id="url" placeholder=" URL 을 입력하세요." class="form-control" />
                      <button type="submit" id="submit" class="btn btn-default">상품 분석</button>
                    </div>
                  </div>

                  <div id="div_main_flash">
                    등록되었습니다.
                  </div>

                  <!--URL 아래 주의사항 설명-->
                  <div id="div_main_info" align="center">
                    <div id="div_main_info_box" align="center">
                    URL 등록 후 상품을 분석합니다. 1 - 3 분정도 소요됩니다.
                    </div>
                  </div>

                  <!--맨 아래 SHOP IN 이용방법-->
                  <a href="#div_guide" onclick="toggle('div_guide');" id="div_main_useage_box_guide">
                  <div id="div_main_useage" align="center">
                    <div id="div_main_useage_box" align="center">
                      SHOP IN 이용방법
                    </div>
                  </div>
                  </a>
                </div>
            </div>
        </div>

        <div id="div_product">
           <div id="div_product_title">
               Product
           </div>

           <div id="div_product_info">
               <div id="div_product_info_total">
                   <div id="div_product_info_total_text">총</div>
                   <div class="circle" id="div_product_info_total"><%= current_user.products.count %></div>
                   <div id="div_product_info_total_text">개 상품이 등록되어 있습니다</div>
               </div>

               <% if logged_in? %>

               <div id="div_product_lists">
                   <div class="div_product_lists_centerized" id="ex">

                       <% @products.each do |p| %>

                           <% if p.name == "" %>

                               <div class="div_product_item">
                                    <div id="div_prodcut_item_image">
                                       <%= link_to image_tag('loading.gif', class: "image_aspect_ratio"), p.url , :target => "_blank" %>
                                   </div>
                                   <div id="div_product_item_info">
                                      <div class = "div_text" id="div_product_item_info_name">상품 분석중</div><br>
                                      <div class = "div_text" id="div_product_item_info_price"><%= number_with_delimiter(p.price, :delimiter => ',') %> ￦</div>
                                   </div>
                               </div>

                            <% else %>

                                <div class="div_product_item">
                                   <div id="div_prodcut_item_image">
                                       <%= link_to image_tag(p.img, class: "image_aspect_ratio"), p.url , :target => "_blank" %>
                                   </div>
                                   <div id="div_product_item_info">
                                       <div class = "div_text" id="div_product_item_info_name"><%= truncate(p.name, length: 20) %></div><br>
                                       <div class = "div_text" id="div_product_item_info_price"><%= number_with_delimiter(p.price, :delimiter => ',') %> ￦</div>
                                   </div>
                               </div>

                            <% end %>

                       <% end %>
                   </div>
               </div>

               <% end %>

           </div>
       </div>
    </div>
</body>
</html>