<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'application', media: 'all','data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    
    </head>
    <body>
      <%= render 'layouts/header' %>

    <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-73008078-1', 'auto');
       ga('send', 'pageview');

    </script>
      <%= yield %>
    </div>
  </body>
  </html>

  <script type="text/javascript" 
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script type="text/javascript">
// var tmp = 1;
//   $(document).ready(function(){

//     $.refresh = function(){
//       alert(<%=current_user.products.count%> + tmp);
//       tmp = tmp + 1;

//       $('#header_product_count').append("2");
//   });
$(document).ready(function(){
  function a(){
    $('#header_product_count').html(<%= current_user.products.count %>);
  }

  ////////////


  /////////////

  $.refresh = function(){
    $.ajax({ 
      type: 'GET',
      url: '/get_aj',
      success: function(data,status,xhr){
        console.log(data);
        $('#header_product_count').html(data.message);
      },
      error: function(xhr,status,error){
        console.log(xhr);
        alert(error);
      }
    });
  }
});
</script>